<p>
  home works!
</p>

<input [(ngModel)]="userform.firstName" placeholder="Enter your first name">
<input [(ngModel)]="userform.lastName" placeholder="Enter your last name">
<input [(ngModel)]="userform.email" placeholder="Enter your email">
<input [(ngModel)]="userform.password" placeholder="Enter your password">

<button (click) = registerUser()>Register User</button>

<button (click) = getSeries()>Get Daily Series</button>

<button (click) = postUserData()>Post User Data</button>

<button (click) = getUserData()>Get User Data</button>